@{
    if (IsAjax)
    {
        this.Layout = "";
    }

    ////this.Layout = string.Empty;
    ViewBag.Title = "排版";
    int[] data = new int[] { 1, 2, 3, 4, 5 };
}
@section Dashboard{
<li>排版</li>
}
@foreach (var item in data)
{
    @(item)
}


@foreach (var item in data)
{
    @(item.ToString() + " ")
}


<ul>
    @foreach (var item in data)
    {
  <li>@(item)</li>
    }
</ul>