@model System.Web.Mvc.HandleErrorInfo
@using System.Data.Entity.Validation;

@{
    ViewBag.Title = "錯誤";

    var ex = Model.Exception as DbEntityValidationException;
}

<h1 class="text-danger">錯誤。</h1>
<h2 class="text-danger">處理您的要求時發生錯誤。</h2>
<h3>所有驗證錯誤訊息:</h3>
<table>
    <tr>
        <th>錯誤欄位</th>
        <th>錯誤訊息</th>
    </tr>
    @foreach (var eve in ex.EntityValidationErrors)
    {
        foreach (var err in eve.ValidationErrors)
        {
            <tr>
                <td>@err.PropertyName</td>
                <td>@err.ErrorMessage</td>
            </tr>
        }
    }

</table>
